.hero-image {
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }

  &--xs {
    display: block;
    margin-top: rem(10);

    @include min-sm-breakpoint {
      display: none;
    }
  }

  &--sm {
    display: none;

    @include min-sm-breakpoint {
      display: block;
    }
  }
}