.main-navigation {
  background-color: $white;

  &__logo {
    margin-left: $margin-side;
  }

  &__links {
    margin-right: $margin-side;
    text-align: right;

    & a {
      color: transparent;
    }

    & a:first-child {
      margin-right: rem(20);
    }
  }
}