.main-content {
  display: block;
  margin-top: $margin-top-bottom;
  margin-bottom: 0;

  @include min-lg-breakpoint {
    margin: $margin-top-bottom 0;
  }

  a {
    color: $secondary-dark;
    font-weight: 400;
  }

  h1 {
    position: relative;
    margin: 0;
    top: rem(-14);
  }

  h3 {
    margin-bottom: rem(20);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: rem(10);
    padding-right: rem(10);

    @include max-lg-breakpoint {
      text-align: left !important;
    }
  }

  .row {
    position: relative;
    top: rem(-30);
  }

  p {
    margin: 0;
    padding-left: rem(10);
    padding-right: rem(10);
  }

  img {
    width: 100%;
    height: auto;
  }

  div>div {
    margin-bottom: rem(30);

    @include min-lg-breakpoint {
      margin-bottom: rem(2);
    }

    @include min-lg-2-breakpoint {
      margin-bottom: rem(15);
    }
  }
}