.main-navigation {
  background-color: $white;

  @include max-sm-breakpoint {
    padding-top: rem(10);
  }

  &__logo {
    @include min-lg-breakpoint {
      margin-left: $margin-side;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  &__links {
    text-align: right;

    @include min-lg-breakpoint {
      margin-right: $margin-side;
    }

    & a {
      color: transparent;
    }

    & a:first-child {
      @include min-sm-breakpoint {
        margin-right: rem(20);
      }
    }

    img {
      @include max-md-breakpoint {
        height: 30%;
        width: 30%;
      }
    }
  }
}