.block {
  // do sth
  &--modifier {
    // do sth
  }

  &__element {
    // do sth
    &--modifier {
      // do sth
    }
  }
}

p {
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans');
  font-family: 'Fira Sans';
  color: $primary;
  @include fontsmoothing();
  font-size: rem(24);
  font-weight: regular;
}