.site-navigation {
  div {
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;

      @include min-lg-breakpoint {
        flex-direction: row;
      }

      li {
        background-color: $secondary-dark;
        border-bottom: rem(3) $white solid;
        @include min-lg-breakpoint {
          border: rem(3) $white solid;
        }
        list-style-type: none;
        padding-bottom: rem(10);
        padding-top: rem(10);
        text-align: center;
        @include min-lg-breakpoint {
          max-width: 25%;
          width: 25%;
        }

        a {
          position: relative;
          color: $white;
          font-size: rem(24);

          @include min-md-breakpoint {
            font-size: rem(30);
          }

          @include min-lg-breakpoint {
            font-size: rem(32);
          }

          @include min-lg-2-breakpoint {
            font-size: rem(36);
          }

          font-weight: 400;
          text-decoration: none;
          text-transform: uppercase;

          &:hover,
          &:focus {
            opacity: 1;
            color: $white;
          }
        }

        &:hover,
        &:focus {
          background-color: $primary;
        }

        .sub-menu {
          border: 3px green solid;
          display: flex;
          flex-direction: column;

          li {
            border: none;
            text-align: center;
          }
        }
      }
    }
  }

  .current-menu-item {
    background-color: $primary;
  }
}