/* @font-face {
  font-family: 'Meta';
  src: url('../source/fonts/Meta.eot');
  url('../source/fonts/Meta.woff') format('woff'),
  url('../source/fonts/Meta.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
*/

/*@font-face {
  //font-family: 'FiraSans';
  //src: url('../../fonts/FiraSans/FiraSans-Regular.ttf');
  //font-weight: 300;
  //font-style: normal;
}
*/

body {
  @import url('https://fonts.googleapis.com/css?family=Fira+Sans');
  font-family: 'Fira Sans';
  @include fontsmoothing();
}