/* @font-face {
  font-family: 'SharpSansDispNo2';
  src: url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-Medium.eot');
  src: url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-Medium.eot?#iefix') format('embedded-opentype'),
  url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-Medium.woff') format('woff'),
  url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SharpSansDispNo2';
  src: url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-MediumObl.eot');
  src: url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-MediumObl.eot?#iefix') format('embedded-opentype'),
  url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-MediumObl.woff') format('woff'),
  url('../vendor/fonts/SharpSansDisplayNo2-Medium/SharpSansDispNo2-MediumObl.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
} */